CompileFlags:                     # Tweak the parse settings         
    Add: [-resource-dir=/home/carlos/tools/gcc-arm-none-eabi-7-2018-q2-update/arm-none-eabi]             # treat all files as C++, enable more warnings                             
    #Remove:  [-resource-dir=*]
